Repository kenty02/regoviz: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, actionlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-check-apply:
      root: web
      run: npx @biomejs/biome check --apply {staged_files}
    frontend-tsc:
        root: web
        run: npx tsc --noEmit
    backend-lint:
      glob: '*.go'
      run: golangci-lint run
    actionlint:
      glob: '.github/workflows/*.yml'
      run: actionlint

feat(call-tree): add entrypoints drop down
  api/openapi.yml
  internal/analyzer/tools.go
  internal/api/oas_client_gen.go
  internal/api/oas_handlers_gen.go
  internal/api/oas_json_gen.go
  internal/api/oas_parameters_gen.go
  internal/api/oas_response_decoders_gen.go
  internal/api/oas_response_encoders_gen.go
  internal/api/oas_router_gen.go
  internal/api/oas_schemas_gen.go
  internal/api/oas_server_gen.go
  internal/api/oas_unimplemented_gen.go
  internal/api/oas_validators_gen.go
  internal/service/service.go
  web/src/components/CallTreeViewer.tsx
  web/src/components/fallback.tsx
  web/src/default/default.ts
  web/src/model/getCallTreeAvailableEntrypoints200.ts
  web/src/model/getCallTreeAvailableEntrypointsParams.ts
  web/src/model/index.ts
Due: backend-lint

feat(call-tree): add eval steps ui
  internal/service/service.go
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/CallTreeViewer.tsx
  web/src/components/React-ECharts.tsx
  web/src/components/fallback.tsx
  web/src/components/ui/form.tsx
  web/src/components/ui/label.tsx
  web/src/components/ui/scroll-area.tsx
  web/src/main.tsx
Due: backend-lint

chore: update lefthook.yml with stage_fixed true
  lefthook.yml
Due: none

fix(call-tree): support more steps
  internal/analyzer/evalTrace/evalTrace.go
  internal/analyzer/regomod/regomod.go
  web/src/App.tsx
  web/src/components/VarTraceViewer.tsx
  web/src/components/ui/form.tsx
  web/src/components/ui/label.tsx
  web/src/components/ui/scroll-area.tsx
Due: backend-lint

chore: better dx
  .air.toml
  lefthook.yml
Due: none

feat(call-tree): add node description
  web/src/components/CallTreeViewer.tsx
Due: none

feat(cfp-login): add auto token fill via query param
  web/functions/template.ts
Due: none

chore
  .air.toml
  samples/abac.rego
  web/src/components/CallTreeViewer.tsx
Due: none

docs: edit readme page
  web/src/components/Readme.tsx
Due: none

docs: edit readme
  README.md
Due: none

ci: delete auth
  web/functions/_middleware.ts
  web/functions/cfp_login.ts
  web/functions/constants.ts
  web/functions/template.ts
  web/functions/utils.ts
Due: none

tests: update expected, comment out tests for unsupported features
  internal/analyzer/regomod/regomod.go
  internal/analyzer/regomod/regomod_test.go
  internal/analyzer/tools_test.go
Due: backend-lint

tests: fix e2e test
  web/tests/main.spec.ts
Due: none

ci: use auto detected version of biome in gh action
  .github/workflows/check.yml
Due: actionlint

style: update biome & apply fixes
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/CallTreeViewer.tsx
  web/src/components/Heading.tsx
  web/src/components/React-ECharts.tsx
  web/src/components/ToolCardContent.tsx
  web/src/components/dep-graph.tsx
  web/src/components/ui/command.tsx
  web/src/components/ui/form.tsx
  web/src/dev/useInitial.ts
  web/tsconfig.json
  web/vite.config.ts
Due: none

docs: update README
  README.md
Due: none
